/* debut  deuxieme animation   ------------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* debut  animation 2  / bienvenue------------------------------------------------------------------ */

h1 {
	display: block;
	font-family: Montserrat;
	font-weight: 700;
	font-size: em;
	text-align: center;
	color: #000;
}

.box h1 {
	-webkit-text-fill-color: transparent;
	background: -webkit-linear-gradient(left, #a3f7bf 0%, #29a19c 33%, #435055 66%, #27323a 100%);
	background-size: 700px;
	background-repeat: repeat;
	-webkit-background-clip: text;
	text-fill-color: transparent;
	background-clip: text;
	-webkit-animation: gradient-move 1s linear infinite;
	animation: gradient-move 2.3s linear infinite;
}

.box h1:hover {
	-webkit-animation: gradient-move 0.3s linear infinite;
}

@-webkit-keyframes gradient-move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 700px 0;
	}
}

/* fin animation 2 / bienvenue------------------------------------------------------------------ */

/* logo comparator */

.logotext {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 35%;
}
/* text annonce trouvez votre */
.trouvez {
	margin-top: 77px;
	font-size: 20px;
}

/* carte transparent */
.card-block {
	background-color: rgba(245, 245, 245, 0.4);
	height: 250px;
	width: 90vw;
	margin-top: 2px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 4px;
	border-radius: 15px;
}

p,
h3 {
	font-family: 'Cantarell', sans-serif;
	/* font-family: 'Roboto', sans-serif; */
}

.formulaire {
	margin-top: 10px;
}

.fond {
	width: 100%;
}

.jumbotron {
	background-image: url("../images/destinations/fondok.jpeg");
	background-size: cover;
	text-align: center;
	height: 600px;
}

.cardphotos {
	background-color: rgba(245, 245, 245, 0.4);
	height: 100px;
	width: 30vw;
	border-radius: 3px;
}

.destinationcards {
	border: 1px solid black;
	box-shadow: 2px 3px skyblue;
}

.carregris {
	color: black;
}

.card-img-top {
	width: 25vw;
}

h5 {
	font-weight: bold;
}

.row destinationcards {
	height: 100px;
}

.cadre {
	border: 3px solid #006666;
}

.operator-logo {
	max-width: 150px;
	max-height: 38px;
}

.card-img-top {
	width: 155px;
}

.card-tour {
	padding: 15px;
}

.logoclient {
	width: 120px;
}

.description {
	height: 77px;
	overflow: hidden;
}

/* -----------------------------------------ombre pour la carte */
/* ombre pour la carte */
.container-fluid carregris {
	box-shadow: 4px 4px 2px grey;
}

/* texte avis en premium*/

btn btn-custom {
	background-color: #ffad33;
}

.premium {
	border: 5px solid #40c4ff;
}

.premium-logo {
	position: absolute;
	margin-left: 8px;
	margin-top: -8px;
	width: 45px;
}

.hidden {
	display: none;
}

.pointer {
	cursor: pointer;
}

.setstar {
	color: blue;
}

.hover {
	color: black;
}
.hover {
	transition: .1s ease-in-out;
	transform: scale(1);
}

.hover:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: .1s ease-in-out;
	transform: scale(1.03);
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}
